.main{
    padding-top: 200px;
    padding-bottom: 80px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 80px 0;
    overflow: hidden;
}

.block{
    margin: 0 auto;
    max-width: 940px;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text{
    line-height: 1.35;
    padding: 0;
    font-weight: 300;
    color: #424242;
    font-size: 17px;
    margin: 0;
}